body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: -590vh;
    flex-direction: column; /* Sørger for at arrangere elementerne lodret */
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(Baggrundsbillede.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* sikrer at baggrunden er bag andre elementer */
}

h1 {
    margin-top: 20px; /* Juster værdien til toppen af siden */
    margin-bottom: 10px; /* Juster værdien til næste element */
}

p {
    font-size: 22px;
    margin-bottom: 30px; /* Juster værdien til næste element */
}

#buttonContainer {
    position: absolute;
    top: 140px; /* Juster placering af knapperne fra toppen af siden */
    display: flex;
    justify-content: center;
}

#sortByFullplays,
#sortByProduktionsår,
#sortByrating {
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer;
    background-color: #0e0f0e; 
    color: white; 
    border: none;
    border-radius: 5px; /* Afrundede hjørner */
    margin-right: 10px; /* Juster margen */
}
  
  
  
  
  
  